@media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .botao {
        margin-top: 5px;
        width: 300px;
    }
    .filme-principal {
        display: flex;
        flex-direction: column;
    }
    .titulo {
        box-sizing: 20%;
    }
}

@media screen and (min-width:1000px) {
    .descriçao {
        width: 50%;
    }
    .carousel-filme {
        width: 30%;
    }
}